<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">Bank Account Component
                        <button class="float-right btn btn-success btn-sm mr-2" @click="createModal()">Add</button>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Account Name</th>
                                    <th scope="col">bank</th>
                                    <th scope="col">Account No</th>
                                    <th scope="col">Branch</th>
                                    <th scope="col">Account type</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody v-for="item in bankaccountlists.data" :key="item.id">
                                <tr>
                                    <td>{{item.account_name}}</td>
                                    <td>{{item.finencial_organization_id}}</td>
                                    <td>{{item.account_no}}</td>
                                    <td>{{item.brunch}}</td>
                                    <td>{{item.account_type}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" @click="editData(item)">Edit</button>
                                        <button class="btn btn-danger btn-sm" @click="deleteData(item)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <pagination :data="bankaccountlists" @pagination-change-page="bankaccountlist"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- Create Modal -->
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent>
                            <!-- <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" v-model.trim="$v.name.$model"
                                    :class="{'is-invalid':$v.name.$error}" />
                            </div>

                            <div v-if="!$v.name.minLength" style="color:red">Name must have at least
                                {{$v.name.$params.minLength.min}} letters.</div>

                            <div v-if="errors && errors.name">
                                <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                    {{ errors.name[0] }}</span>
                            </div> -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Account Name</label>
                                <div class="col-sm-9">
                                    <input v-model="account_name" type="text" class="form-control form-control-sm"
                                        placeholder="Account Name" name="account_name">
                                    <div v-if="errors && errors.account_name">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.account_name[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Bank</label>
                                <div class="col-sm-9">
                                    <select v-model="finencial_organization_id" class="form-control form-control-sm"
                                        name="finencial_organization_id">
                                        <option value="0" selected>-- Select Bank --</option>
                                        <option v-for="data in bankLists" :value="data.id">
                                            {{ data.name }}
                                        </option>
                                    </select>
                                    <div v-if="errors && errors.finencial_organization_id">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.finencial_organization_id[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Account No</label>
                                <div class="col-sm-9">
                                    <input v-model="account_no" type="text" class="form-control form-control-sm"
                                        placeholder="Account No" name="account_no">
                                    <div v-if="errors && errors.account_no">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.account_no[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Branch</label>
                                <div class="col-sm-9">
                                    <input v-model="brunch" type="text" class="form-control form-control-sm"
                                        placeholder="Branch" name="brunch">
                                    <div v-if="errors && errors.brunch">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.brunch[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Account Type</label>
                                <div class="col-sm-9">
                                    <select v-model="account_type" class="form-control form-control-sm"
                                        name="account_type">
                                        <option value="0" selected>-- Select Account Type --</option>
                                        <option value="1" selected>Savings Account</option>
                                        <option value="2" selected>Current Account</option>
                                        <option value="3" selected>Joint Account</option>

                                    </select>
                                    <div v-if="errors && errors.account_type">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.account_type[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Swift Code</label>
                                <div class="col-sm-9">
                                    <input v-model="swift_code" type="text" class="form-control form-control-sm"
                                        placeholder="Swift Code" name="swift_code">
                                    <div v-if="errors && errors.swift_code">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.swift_code[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Route No</label>
                                <div class="col-sm-9">
                                    <input v-model="route_no" type="text" class="form-control form-control-sm"
                                        placeholder="Route No" name="route_no">
                                    <div v-if="errors && errors.route_no">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.route_no[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit" @click="submitData()">Submit!</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent>
                            <div class="text-center">
                                Are you sure to delete?...
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input v-model="deleteId" type="hidden" class="form-control form-control-sm"
                                        name="deleteId">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger btn-sm float-right"
                                @click="deletefinally()">Delete</button>
                        </form>
                    </div>
                    <div class="modal-footer bg-danger">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent>
                            <!-- <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" v-model.trim="$v.name.$model"
                                    :class="{'is-invalid':$v.name.$error}" />
                            </div>

                            <div v-if="!$v.name.minLength" style="color:red">Name must have at least
                                {{$v.name.$params.minLength.min}} letters.</div>

                            <div v-if="errors && errors.name">
                                <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                    {{ errors.name[0] }}</span>
                            </div> -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Account Name</label>
                                <div class="col-sm-9">
                                    <input v-model="account_name" type="text" class="form-control form-control-sm"
                                        placeholder="Account Name" name="account_name">
                                    <div v-if="errors && errors.account_name">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.account_name[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Bank</label>
                                <div class="col-sm-9">
                                    <select v-model="finencial_organization_id" class="form-control form-control-sm"
                                        name="finencial_organization_id">
                                        <option value="0" selected>-- Select Bank --</option>
                                        <option v-for="data in bankLists" :value="data.id">
                                            {{ data.name }}
                                        </option>
                                    </select>
                                    <div v-if="errors && errors.finencial_organization_id">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.finencial_organization_id[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Account No</label>
                                <div class="col-sm-9">
                                    <input v-model="account_no" type="text" class="form-control form-control-sm"
                                        placeholder="Account No" name="account_no">
                                    <div v-if="errors && errors.account_no">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.account_no[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Branch</label>
                                <div class="col-sm-9">
                                    <input v-model="brunch" type="text" class="form-control form-control-sm"
                                        placeholder="Branch" name="brunch">
                                    <div v-if="errors && errors.brunch">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.brunch[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Account Type</label>
                                <div class="col-sm-9">
                                    <select v-model="account_type" class="form-control form-control-sm"
                                        name="account_type">
                                        <option value="0" selected>-- Select Account Type --</option>
                                        <option value="1" selected>Savings Account</option>
                                        <option value="2" selected>Current Account</option>
                                        <option value="3" selected>Joint Account</option>

                                    </select>
                                    <div v-if="errors && errors.account_type">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.account_type[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Swift Code</label>
                                <div class="col-sm-9">
                                    <input v-model="swift_code" type="text" class="form-control form-control-sm"
                                        placeholder="Swift Code" name="swift_code">
                                    <div v-if="errors && errors.swift_code">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.swift_code[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Route No</label>
                                <div class="col-sm-9">
                                    <input v-model="route_no" type="text" class="form-control form-control-sm"
                                        placeholder="Route No" name="route_no">
                                    <div v-if="errors && errors.route_no">
                                        <span style="color:red"><i class="fas fa-exclamation-triangle"></i>
                                            {{ errors.route_no[0] }}</span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit" @click="updateData()">Submit!</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                account_name: '',
                finencial_organization_id: 0,
                store_id: '',
                account_no: '',
                brunch: '',
                account_type: 0,
                swift_code: '',
                route_no: '',
                errors: [],

                updateId:'',
                deleteId: '',


                bankLists: [],
                bankaccountlists: {},
            }
        },

        methods: {
            bankList() {
                axios.get('api/banklist').then(response => {
                    this.bankLists = response.data
                })
            },
            bankaccountlist(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                axios.get('api/bankaccountlist?page=' + page).then(response => {
                    this.bankaccountlists = response.data
                })
            },
            createModal() {
                this.account_name = '';
                this.finencial_organization_id = 0;
                this.store_id = '';
                this.account_no = '';
                this.brunch = '';
                this.account_type = 0;
                this.swift_code = '';
                this.route_no = '';
                $('#createModal').modal();
            },
            submitData() {
                var data = new FormData();
                data.append('account_name', this.account_name);
                data.append('finencial_organization_id', this.finencial_organization_id);
                data.append('account_no', this.account_no);
                data.append('brunch', this.brunch);
                data.append('account_type', this.account_type);
                data.append('swift_code', this.swift_code);
                data.append('route_no', this.route_no);
                axios.post('api/store', data).then(response => {
                    this.bankaccountlist();
                    $('#createModal').modal('hide');
                }).catch(e => {
                    this.errors = e.response.data.errors;
                })

            },
            deleteData(item) {
                this.deleteId = item.id;
                $('#deleteModal').modal();
            },
            deletefinally() {
                var data = new FormData();
                data.append('deleteId', this.deleteId);
                axios.post('/api/delete/' + this.deleteId, data)
                    .then(res => {

                        this.deleteId = '',
                            this.bankaccountlist();
                        $('#deleteModal').modal('hide');
                    });
            },
            editData(item){
                this.updateId = item.id;
                this.account_name = item.account_name;
                this.finencial_organization_id = item.finencial_organization_id;
                this.store_id = item.store_id;
                this.account_no = item.account_no;
                this.brunch = item.brunch;
                this.account_type = item.account_type;
                this.swift_code = item.swift_code;
                this.route_no = item.route_no;
                $('#editModal').modal();
            },
            updateData(){
                var data = new FormData();
                data.append('account_name', this.account_name);
                data.append('finencial_organization_id', this.finencial_organization_id);
                data.append('account_no', this.account_no);
                data.append('brunch', this.brunch);
                data.append('account_type', this.account_type);
                data.append('swift_code', this.swift_code);
                data.append('route_no', this.route_no);
                axios.post('api/update/'+this.updateId, data).then(response => {
                    $('#editModal').modal('hide');
                    this.bankaccountlist();
                }).catch(e => {
                    this.errors = e.response.data.errors;
                })
            }
        },


        mounted() {
            this.bankList();
            this.bankaccountlist();
            console.log("Category Component") // I'm text inside the component.
        }
    }

</script>
